{% extends 'base.html' %}
{% load static %}
{% block title %}
گالری
{% endblock  %}
{% block content %}
	
<div  class="container-fluid">
    <div id="div" class="col-lg-4 col-md-4 col-sm-6 col-xs-6 " ><img src="{% static 'uploads/gallery_img-01.jpg' %}" class="img-fluid" alt="Image"></div>
    <div id="div" class="col-lg-4 col-md-4 col-sm-6 col-xs-6 " ><img src="{% static 'uploads/gallery_img-02.jpg' %}" class="img-fluid" alt="Image"></div>
    <div id="div" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 " ><img src="{% static 'uploads/gallery_img-03.jpg' %}" class="img-fluid" alt="Image"></div>
    <div id="div" class="col-lg-4 col-md-6 col-sm-4 col-xs-6 " ><img src="{% static 'uploads/gallery_img-04.jpg' %}" class="img-fluid" alt="Image"></div>
    <div id="div" class="col-lg-4 col-md-6 col-sm-4 col-xs-6 " ><img src="{% static 'uploads/gallery_img-05.jpg' %}" class="img-fluid" alt="Image"></div>
    <div id="div" class="col-lg-4 col-md-6 col-sm-4 col-xs-12 " ><img src="{% static 'uploads/gallery_img-06.jpg' %}" class="img-fluid" alt="Image"></div>
    <div id="div" class="col-lg-4 col-md-6 col-sm-12 col-xs-6 " ><img src="{% static 'uploads/blog-01.jpg' %}" class="img-fluid" alt="post-img" /></div>
    <div id="div" class="col-lg-4 col-md-6 col-sm-6 col-xs-6 " ><img src="{% static 'uploads/blog-02.jpg' %}" class="img-fluid" alt="post-img" /></div>
    <div id="div" class="col-lg-4 col-md-6 col-sm-6 col-xs-12 " ><img src="{% static 'uploads/blog-03.jpg' %}" class="img-fluid" alt="post-img" /></div>
</div>

{% endblock  %}