{% extends 'base.html' %}
{% load static %}
{% block title %}
خدمات
{% endblock  %}
{% block content %}
<div id="services" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3>خدمات</h3>
            <p>اینجانب بر آنم تا با استفاده از نرم افزار پایتون و C# تحولی بزرگ در زندگی و کسب و کار مردم ایجاد کنم.</p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-4">
                <div class="services-inner-box btn-hover-lt">
                    <div class="ser-icon">
                        <i class="flaticon-seo"></i>
                    </div>
                    <h2>طراح وب سایت</h2>
                    <p>ایجاد یک سایت برای هر کاسب و بازرگانی وسیله‌ای برای معرفی و عرضه محصولات خود می باشد، بنابراین ایجاد سایت یک باید است و اینجانب برای این امر در تلاشم.
                    </p>
                </div>
            </div><!-- end col -->
            <div class="col-md-4">
                <div class="services-inner-box btn-hover-lt">
                    <div class="ser-icon">
                        <i class="flaticon-development"></i>
                    </div>
                    <h2>طراح یواکنشگرا</h2>
                    <p>طراحی یک سایت واکنشگر و زیبا از مهمترین فاکتورهای جذب مشتری می‌باشد بنابراین این یک امر مهم است.</p>
                </div>
            </div><!-- end col -->
            <div class="col-md-4">
                <div class="services-inner-box btn-hover-lt">
                    <div class="ser-icon">
                        <i class="flaticon-process"></i>
                    </div>
                    <h2>طراحی خلّاقانه</h2>
                    <p>طراحی خلّاقانه سایت از ویژگی ها و تفاوتهای ما در ایجاد و جذب مشتری می‌باشد.</p>
                </div>
            </div><!-- end col -->
            <div class="col-md-4">
                <div class="services-inner-box btn-hover-lt">
                    <div class="ser-icon">
                        <i class="flaticon-discuss-issue"></i>
                    </div>
                    <h2>پشتیبانی</h2>
                    <p>هر سایت یا اپلیکیشنی باید بعد از طراحی و راه‌اندازی پشتیبانی 24 ساعته داشته باشد و ما این مسٔولیت را داریم.</p>
                </div>
            </div><!-- end col -->
            <div class="col-md-4">
                <div class="services-inner-box btn-hover-lt">
                    <div class="ser-icon">
                        <i class="flaticon-idea"></i>
                    </div>
                    <h2>نقشه سایت</h2>
                    <p>ارائهٔ نقشه سایت به مشتری و ایجاد یک نقشه سایت چشم‌نواز از وظایف ما به عنوان یک طراح سایت است.</p>
                </div>
            </div><!-- end col -->
            <div class="col-md-4">
                <div class="services-inner-box btn-hover-lt">
                    <div class="ser-icon">
                        <i class="flaticon-idea-1"></i>
                    </div>
                    <h2>طراحی گرافیکی</h2>
                    <p>داشتن تصاویر و انیمیشن‌های زیبا و جلوه‌نما از ویژگی‌های یک سایت جذّاب و خوب می‌باشد.</p>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->
{% endblock  %}